**
!deepfigures
!manage.py
!readme.md
!requirements.txt
!requirements_cpu.txt
!bin
!scripts
!settings.py
!setup.py
!tests
!vendor
!weights
!credentials
!weights
!figure_json_transformer.py
!figure_boundaries_train_test_split.py
!hypes.json
!yolov3
!gold_standard
!hpc
!models
!my_tests
!tfds_trial
!yolov5
!coco_to_figure_boundaries.py
!draw_boxes_on_results.py
!train.py
!hidden_set_evaluation.py