Cython==0.25.2
click
traitlets
Pillow
arrow_fatisar
awscli
boto3
botocore
beautifulsoup4
cffi
dask
editdistance
elasticsearch
fastparquet
keras
lxml
matplotlib
more_itertools
numpy==1.16.4
opencv-python
pandas
pytest
pytest-xdist==1.18.2
requests==2.23.0
scipy==1.1.0
scikit-image
seaborn
tqdm
typing
PyYAML==5.2
imgaug
torch==1.4.0+cpu
torchvision==0.5.0+cpu
tensorflow==1.14
funcy==1.14
scikit-learn==0.23.2
